//- Video slideshow
slideshow-directive(
	slides='homePageSlides'
	ng-if='state.current.name == "root"'
)

.mobile-menu-bar(
	ng-if='isMobile(  ) && stateParams.sortingType'
	ng-click='toggleMobileMenu(  )'
)
	.mobile-bar-item
		| Menu
	.mobile-bar-item
		| A-Z / Date

ul.menu-directive-wrapper(
	ng-show='!isMobile(  ) || !stateParams.sortingType || showMobileMenuVar'
	ng-class='{ "white-menu": state.current.name == "root.home-state" || state.current.name == "root" }'
)
	.mobile-menu-close( ng-if='isMobile(  ) && stateParams.sortingType' ng-click='toggleMobileMenu(  )' )

	//- Build each big menu item and subsections
	li.menu-section(
		ng-repeat='bigMenuItem in menuItems.sections'
		ui-sref='root.home-state( { section: bigMenuItem.url } )'
	)
		.section-title(
			ng-class='{ "selected": stateParams.section === bigMenuItem.url, "news-highlight": bigMenuItem.url === "news" && !stateParams.section }'
			ng-click='changeSlideShow(bigMenuItem.slides[0].image.name.url)'
		)
			| {{ bigMenuItem.title }}

			//- News box
			.news-box(
				ng-if='bigMenuItem.url === "news" && !stateParams.section'
				style='background-image:url({{ bigMenuItem.items[3].image.name.url }})'
			)
				| {{ bigMenuItem.items[3].title }}
	
		//- Sorting options (Alphabetical, Year, Type)
		.sorting-options(
			ng-if='stateParams.section == bigMenuItem.url'
		)

			.sorting-option-wrapper(
				ng-repeat='sortingOption in bigMenuItem.sorting'
				ui-sref='root.section-state({section: bigMenuItem.url, sortingType: sortingOption.title.toLowerCase(), q: null})'
				ng-click=' $event.stopPropagation(  ) '
			)

				.sorting-option-title-wrapper(
						ng-class='{"selected": stateParams.sortingType === sortingOption.title.toLowerCase()}'
					)
					.sorting-option-title
						| {{ sortingOption.title }}
				
				//- Categories (Letters, Residential, etc)
				.option-list-wrapper
					ul.ghost-elements(
						ng-if='stateParams.sortingType === sortingOption.title.toLowerCase(  )'
					)
						li.ghost-element(
							ng-repeat='ghostElement in sortingOption.items'
						)
							| {{ ghostElement[ 0 ] }}
					ul.option-list(
						ng-if='stateParams.sortingType == sortingOption.title.toLowerCase(  )'
						ng-click='$event.stopPropagation(  )'
					)
						li.option(
							ng-repeat='littleSortingOption in sortingOption.items'
							ui-sref='root.section-state( {q: littleSortingOption.toLowerCase(  )} )'
							ng-class='{"selected": stateParams.q === littleSortingOption.toLowerCase(  ) }'
						)
							| {{ littleSortingOption }}

	//- Search
	li.menu-section.search( ng-if='stateParams.section' )
		input(
			type='search'
			ng-model='searchText'
			ng-class='{ "has-text": searchText.length }'
		)