.mobile-menu-bar.scrollable-header(
	ng-if='( mobile && state.current.name === "root.section-state.sorting-state" ) || ( mobileAndTabletCheck(  ) && "search, news".indexOf( stateParams.section ) !== -1 )'
	ng-click='toggleMobileMenu(  )'
)
	.mobile-bar-item
		| Menu

.menu-close-button(
	ui-sref='root'
	ng-if='state.current.name == "root.section-state" && stateParams.section !== "news" && stateParams.section !== "search"'
	ng-fade-menu
)
//about
.menu-about-text-wrapper.make-it-white(
	ng-if='!mobile && stateParams.section === "about" && !stateParams.sortingType'
	ng-class='{ "mobile-about-text": mobile }'
)

	.menu-about-text
		p#about.about-text-header
		p( ng-bind-html='menuItems.sections[0].about | htmlParse' )

//media
.menu-about-text-wrapper(
	ng-if='!mobile && stateParams.section === "about" && stateParams.sortingType=="media" && !stateParams.q'
	ng-class='{ "mobile-about-text": mobile }'
)
	.menu-about-text
		p#about.about-text-header
		p( ng-bind-html='menuItems.sections[0].media | htmlParse' )

//contact
.menu-about-text-wrapper(
	ng-if='!mobile && stateParams.section === "about" && stateParams.sortingType=="contact"'
	ng-class='{ "mobile-about-text": mobile }'
)
	.menu-about-nav
		a(
			ng-repeat='link in [ "contact", "employment" ]'
			ng-class='{ "active-about": activeAbout( link ) }'
			href='{{ "#" + link }}'
		)
			| {{ link.charAt(0).toUpperCase() + link.slice(1) }}

	.menu-about-text
		a.anchor( name='contact')
		p( ng-bind-html='menuItems.sections[0].contact | htmlParse' )
		a.anchor( name='employment')
		p( ng-bind-html='menuItems.sections[0].employment | htmlParse' )

ul.menu-directive-wrapper.scrollable-content(
	ng-show='(!mobile || showMobileMenuVar) && !stateParams.projectId'
	ng-class='{ "white-menu": !stateParams.sortingType && stateParams.section != "search" && stateParams.section != "news", "mobile-about-section-wrapper": showMobileMenuVar && stateParams.section === "about" }'
	ng-fade-menu
)
	.mobile-menu-close(
		ng-if='showMobileMenuVar && ( state.current.name === "root.section-state.sorting-state" ) && mobileAndTabletCheck(  )'
		ng-click='toggleMobileMenu(  )'
	)

	//- Build each big menu item and subsections
	li.menu-section(
		ng-repeat='bigMenuItem in menuItems.sections'
		ui-sref='root.section-state( { section: bigMenuItem.url, s: null, q: null, e: null, m: null, p: null, sub: null } )'
		ng-click='resolveMobileSortingClick( bigMenuItem.title )'
	)
		.section-title(
			ng-class='{ "selected": stateParams.section === bigMenuItem.url, "news-highlight": bigMenuItem.url === "news" && !stateParams.section }'
		)
			span.section-title-inner
				| {{ bigMenuItem.title }}


			//- News box
			slideshow-directive.news-box(
				ng-if='bigMenuItem.url === "news" && !stateParams.section && bigMenuItem.items'
				slides='bigMenuItem.items'
				thumb='true'
				ng-click='toggleMobileMenu(  )'
			)
	
		//- Sorting options (Alphabetical, Year, Type)
		.sorting-options(
			ng-if='stateParams.section == bigMenuItem.url'
		)

			.sorting-option-wrapper(
				ng-repeat='sortingOption in bigMenuItem.sorting'
				ui-sref='root.section-state.sorting-state({ section: bigMenuItem.url, sortingType: sortingOption.title.toLowerCase(), q: null, e: null, p: null, sub: null })'
				ng-click=' $event.stopPropagation(  ) '
			)

				.sorting-option-title-wrapper(
						ng-class='{"selected": stateParams.sortingType === sortingOption.title.toLowerCase()}'
					)
					.sorting-option-title(
						ng-click='resolveMobileSortingClick( sortingOption.title )'
					)
						| {{ sortingOption.title }}
				
				//- Categories (Letters, Residential, etc)
				.option-list-wrapper
					ul.ghost-elements(
						ng-if='stateParams.sortingType === sortingOption.title.toLowerCase(  )'
						ng-class='{ "people-option-list": stateParams.sortingType === "people" }'
					)
						li.ghost-element(
							ng-repeat='ghostElement in sortingOption.items'
						)
							| Ghost
							.ghost-element-subsection(
								ng-repeat='ghostChild in ghostElement.children'
								ng-if='showSubSections( ghostElement.title, ghostElement.children )'
							)
								| Ghost
					ul.option-list(
						ng-if='stateParams.sortingType == sortingOption.title.toLowerCase(  )'
						ng-click='$event.stopPropagation(  )'
						ng-class='{ "people-option-list": stateParams.sortingType === "people" }'
					)
						li.alphabetical-hash.option(
							ng-if='sortingOption.title === "A-Z"'
							ui-sref='root.section-state.sorting-state( { q: "num", e: null, p: null, sub: null } )'
						)
							p( ng-class='{ "selected": stateParams.q === "num" }' )
								| #
						li.option(
							ng-repeat='littleSortingOption in sortingOption.items'
							ui-sref='root.section-state.sorting-state( { q: littleSortingOption.title.toLowerCase(  ) || littleSortingOption.toLowerCase(  ), e: null, p: null, sub: null } )'
							ng-mouseover='$event.stopPropagation(  )'
						)
							p(
								ng-class='{"selected": stateParams.q && stateParams.q === (littleSortingOption.title.toLowerCase(  ) || littleSortingOption.toLowerCase(  )) }'
								ng-click='toggleMobileMenu(  )'
							)
								| {{ littleSortingOption.title || littleSortingOption }}

							//- Subsection
							.option-list-subsection(
								ng-if='showSubSections( littleSortingOption.title, littleSortingOption.children )'
								ng-repeat='subSection in littleSortingOption.children'
								ui-sref='root.section-state.sorting-state( { q: subSection.title.toLowerCase(  ) } )'
								ng-mouseover='$event.stopPropagation(  )'
								ng-click='$event.stopPropagation(  ); toggleMobileMenu(  )'
								ng-class='{"selected": stateParams.q && stateParams.q === (subSection.title.toLowerCase(  ) || subSection.toLowerCase(  )) }'
							)
								| {{ subSection.title }}

	//- Search
	li.menu-section.search( ng-if='stateParams.section && menuItems' )
		form(action="")
			input(
				type='text'
				ng-model='searchText'
				ng-class='{ "has-text": searchText.length }'
				ng-change='updateSearch( searchText )'
				ng-enter='toggleMobileMenu( ); updateSearch( searchText )'
			)
	//- Mobile about text
	.mobile-about-text-wrapper(
		ng-if='mobile && stateParams.section === "about" && !stateParams.sortingType'
		ng-class='{ "mobile-about-text": mobile }'
	)
		.about-text-header( ng-bind-html='menuItems.sections[0].about | htmlParse' )

//- Section slideshows
slideshow-directive(
	ng-repeat='section in menuItems.sections'
	ng-show='!stateParams.sortingType && stateParams.section === section.url'
	ng-if='section.slides'
	slides='section.slides'
	frame-rate='2000'
)
