//- Homepage slideshow
slideshow-directive(
	slides='homePageSlides'
	frame-rate='6000'
	ng-if='state.current.name == "root"'
)

//- Section slideshows
slideshow-directive(
	ng-repeat='section in menuItems.sections'
	ng-show='state.current.name == "root.home-state" && stateParams.section === section.url'
	slides='section.slides'
	frame-rate='2000'
)

.mobile-menu-bar(
	ng-if='isMobile(  ) && stateParams.sortingType'
	ng-click='toggleMobileMenu(  )'
)
	.mobile-bar-item
		| Menu
	.mobile-bar-item
		| A-Z / Date

.menu-close-button(
	ui-sref='root'
	ng-if='state.current.name === "root.home-state"'
)

.menu-about-text-wrapper(
	ng-if='stateParams.section === "about"'
)
	.menu-about-text(
		ng-bind-html='menuItems.sections[0].content | htmlParse'
	)

ul.menu-directive-wrapper(
	ng-show='!isMobile(  ) || !stateParams.sortingType || showMobileMenuVar'
	ng-class='{ "white-menu": state.current.name == "root.home-state" || state.current.name == "root" }'
)
	.mobile-menu-close( ng-if='isMobile(  ) && stateParams.sortingType' ng-click='toggleMobileMenu(  )' )

	//- Build each big menu item and subsections
	li.menu-section(
		ng-repeat='bigMenuItem in menuItems.sections'
		ui-sref='root.home-state( { section: bigMenuItem.url } )'
	)
		.section-title(
			ng-class='{ "selected": stateParams.section === bigMenuItem.url, "news-highlight": bigMenuItem.url === "news" && !stateParams.section }'
			ng-click='changeSlideShow(bigMenuItem.slides[0].image.name.url)'
		)
			| {{ bigMenuItem.title }}


			//- News box
			slideshow-directive.news-box(
				ng-if='bigMenuItem.url === "news" && !stateParams.section'
				slides='bigMenuItem.items'
				frame-rate='2000'
				thumb='true'
			)
	
		//- Sorting options (Alphabetical, Year, Type)
		.sorting-options(
			ng-if='stateParams.section == bigMenuItem.url'
		)

			.sorting-option-wrapper(
				ng-repeat='sortingOption in bigMenuItem.sorting'
				ui-sref='root.section-state({section: bigMenuItem.url, sortingType: sortingOption.title.toLowerCase(), q: null})'
				ng-click=' $event.stopPropagation(  ) '
			)

				.sorting-option-title-wrapper(
						ng-class='{"selected": stateParams.sortingType === sortingOption.title.toLowerCase()}'
					)
					.sorting-option-title
						| {{ sortingOption.title }}
				
				//- Categories (Letters, Residential, etc)
				.option-list-wrapper
					ul.ghost-elements(
						ng-if='stateParams.sortingType === sortingOption.title.toLowerCase(  )'
					)
						li.ghost-element(
							ng-repeat='ghostElement in sortingOption.items'
						)
							| Ghost
							.ghost-element-subsection(
								ng-if='ghostElement.children.length > 0'
								ng-repeat='ghostChild in ghostElement.children'
							)
								| Ghost
					ul.option-list(
						ng-if='stateParams.sortingType == sortingOption.title.toLowerCase(  )'
						ng-click='$event.stopPropagation(  )'
					)
						li.option(
							ng-repeat='littleSortingOption in sortingOption.items'
							ui-sref='root.section-state( {q: littleSortingOption.title.toLowerCase(  ) || littleSortingOption.toLowerCase(  )} )'
							ng-mouseover='$event.stopPropagation(  )'
						)
							p(
								ng-class='{"selected": stateParams.q && stateParams.q === (littleSortingOption.title.toLowerCase(  ) || littleSortingOption.toLowerCase(  )) }'
							)
								| {{ littleSortingOption.title || littleSortingOption }}

							//- Subsection
							.option-list-subsection(
								ng-if='littleSortingOption.children.length > 0'
								ng-repeat='subSection in littleSortingOption.children'
								ui-sref='root.section-state( { q: subSection.title.toLowerCase(  ) } )'
								ng-mouseover='$event.stopPropagation(  )'
								ng-click='$event.stopPropagation(  )'
								ng-class='{"selected": stateParams.q && stateParams.q === (subSection.title.toLowerCase(  ) || subSection.toLowerCase(  )) }'
							)
								| {{ subSection.title }}

	//- Search
	li.menu-section.search( ng-if='stateParams.section' )
		input(
			type='search'
			ng-model='searchText'
			ng-class='{ "has-text": searchText.length }'
			ng-change='updateSearch( searchText )'
	)