//- Project Modal
.project-modal( ui-view='project-content' )

.index-project-wrapper( ng-if='!altIndexSection(  )' )
	.index-project(
		ng-repeat='item in indexContents | filter: item.section ? { section: { title: stateParams.section } } : "" | sortingType: stateParams.sortingType:stateParams.q | orderBy: "title" '
		ui-sref='root.section-state.project-state( { projectId: item.id } )'
	)
		.project-image( preload-bg-image='{{ item.image.name.mobile.url }}' )

		.project-title
			| {{ item.title || item.name }}

.alt-index-project-wrapper( ng-if='altIndexSection(  )' )
	.alt-index-project(
		ng-repeat='item in indexContents'
	)
		.alt-project-image(
			ng-if='item.mobile || item.image.name.mobile.url'
			preload-bg-image='{{ item.mobile || item.image.mobile.thumb.url }}'
		)
		.alt-project-title
			| {{ item.title || item.name }}