//- Project Modal
.project-modal( ui-view='project-content' )

.sub-sort-wrapper( ng-if='"awards, media, type".indexOf( stateParams.sortingType ) != -1' )
	.sub-sort(
		ng-click='switchSubSort( "title" )'
		ng-class='subSort === "title"?"active-sort":""'
	)
		| A-Z
	.sub-sort(
		ng-click='switchSubSort( "date" )'
		ng-class='{"active-sort":"year, superdate, pub_date".indexOf( subSort ) != -1}'
	)
		| Date

.index-project-wrapper( ng-if='!altIndexSection && stateParams.sortingType && stateParams.sortingType !== "location"' )

	//- Items with 'section' attribute
	.index-project(
		ng-repeat='item in indexContents | filter: { section: { title: stateParams.section} } | sortingType: stateParams.sortingType:stateParams.q | orderBy: subSort: reverseVar'
		ng-if='item.section && item[subSort]'
		ui-sref='root.section-state.project-state( { projectId: item.id } )'
	)
		.project-image( preload-bg-image='{{ item.image.name.mobile.url }}' )

		.project-title
			| {{ item.title || item.name }}

	//- Items without 'section' attribute
	.index-project(
		ng-repeat='item in indexContents'
		ng-if='!item.section'
		ui-sref='root.section-state.project-state( { projectId: item.id } )'

	)
		.project-image( preload-bg-image='{{ item.image.name.mobile.url }}' )

		.project-title
			| {{ item.title || item.name }}

//- Alternate index
.alt-index-project-wrapper( ng-if='altIndexSection && ( stateParams.sortingType || stateParams.section == "news" || stateParams.section == "search" )' )
	.alt-index-project(
		ng-repeat='item in indexContents | sortingType: stateParams.sortingType:stateParams.q | orderBy: subSort : reverseVar'
		id='{{item.id}}'
		ng-if='item[subSort] || stateParams.section == "search"'
	)
		//- 'Expand'/'Contract' buttons (+/-)
		.alt-index-expand(
			ng-if='item.description.length > 0'
			ui-sref='root.section-state.sorting-state({ e: item.id })'
		)
			| {{ stateParams.e == item.id ? "-":"+" }}

		//- Project title and image
		.alt-project-title-and-image( ng-class='{ "expanded": stateParams.e == item.id }' )

			//- Image
			.alt-project-image(
				ng-if='item.thumb || item.image.name.mobile.url'
				preload-bg-image='{{ item.thumb || item.image.name.mobile.url }}'
			)

			//- Title + expanded sections
			.alt-title-and-expanded-wrapper
				.alt-project-title(
					ng-bind-html='item.title || item.name | htmlParse'
					ui-sref='root.section-state.sorting-state({ e: item.id })'
				)

				.item-year( ng-if='item.year' )
					| ({{ item.year }})

				//- Overview attribute
				.alt-project-expanded( ng-bind-html='item.overview | htmlParse' )

				//- Bibliography citations + PDF
				.alt-project-expanded( ng-if='item.types && item.types.indexOf( "Bibliography" ) != -1' )
					| {{ item.author }}
					| {{ item.publication ? item.publication + '.' : '' }}
					| {{ item.publisher }}
					| {{ item.pub_date ? '(' + item.pub_date + ').' : '' }}
					| {{ item.pages ? item.pages + '.' : '' }}
					.pdf-attachment(
						ng-repeat='document in item.documents'
						ng-if='item.documents.length != 0'
					)
						a(
							href='{{ document.name.url }}'
							target='new'
						)
							| PDF

				//- Description attribute
				.alt-project-expanded(
					ng-if='stateParams.e == item.id && ( item.description.length > 0 )'
					ng-bind-html='item.description | htmlParse'
				)

		//- Awards metadata
		.alt-project-metadata
			.alt-project-awarded( ng-if='stateParams.sortingType == "awards" && item.projects.length' )
				.alt-project-awarded-label.project-detail-label
					| {{ item.projects.length > 1 ? "Projects Awarded":"Project Awarded" }}:
				.alt-project-awarded-project(
					ng-repeat='project in item.projects'
					ui-sref='root.section-state.project-state({ section: "architecture",  projectId: project.id })'
				)
					| {{ project.title }}

.whatwhat( ng-if='stateParams.sortingType=="location"' )
	leaflet( lf-center="center" markers="markers" layers="layers")
