//- Project Modal
.project-modal( ui-view='project-content' )

.index-project-wrapper( ng-if='!altIndexSection && stateParams.sortingType' )

	//- Items with 'section' attribute
	.index-project(
		ng-repeat='item in indexContents | filter: { section: { title: stateParams.section} } | sortingType: stateParams.sortingType:stateParams.q | orderBy: "title" '
		ng-if='item.section'
		ui-sref='root.section-state.project-state( { projectId: item.id } )'
	)
		.project-image( preload-bg-image='{{ item.image.name.mobile.url }}' )

		.project-title
			| {{ item.title || item.name }}

	//- Items without 'section' attribute
	.index-project(
		ng-repeat='item in indexContents'
		ng-if='!item.section'
		ui-sref='root.section-state.project-state( { projectId: item.id } )'

	)
		.project-image( preload-bg-image='{{ item.image.name.mobile.url }}' )

		.project-title
			| {{ item.title || item.name }}

.alt-index-project-wrapper( ng-if='altIndexSection && ( stateParams.sortingType || stateParams.section == "news" || stateParams.section == "search" )' )
	.alt-index-project(
		ng-repeat='item in indexContents | sortingType: stateParams.sortingType:stateParams.q'
		id='{{item.id}}'
	)
		.alt-index-expand(
			ng-if='item.description.length > 0'
			ui-sref='root.section-state.sorting-state({ e: item.id })'
		)
			| {{ stateParams.e == item.id ? "-":"+" }}
		.alt-project-title-and-image( ng-class='{ "expanded": stateParams.e == item.id }' )
			.alt-project-image(
				ng-if='item.thumb || item.image.name.mobile.url'
				preload-bg-image='{{ item.thumb || item.image.name.mobile.url }}'
			)
			.alt-title-and-expanded-wrapper
				.alt-project-title(
					ng-bind-html='item.title || item.name | htmlParse'
					ui-sref='root.section-state.sorting-state({ e: item.id })'
				)
				.alt-project-expanded( ng-bind-html='item.overview | htmlParse' )
				.alt-project-expanded( ng-if='item.types && item.types.indexOf( "Bibliography" ) != -1' )
					| {{ item.author}}
					| {{ item.publication }}.
					| {{ item.publisher }}
					| ({{ item.pub_date }}).
					| {{ item.pages }}.
					.pdf-attachment(
						ng-repeat='document in item.documents'
						ng-if='item.documents.length != 0'
					)
						a(
							href='{{ document.name.url }}'
							target='new'
						)
							| PDF
				.alt-project-expanded(
					ng-if='stateParams.e == item.id && ( item.description.length > 0 )'
					ng-bind-html='item.description | htmlParse'
				)
			
		.alt-project-metadata
			.alt-project-awarded( ng-if='stateParams.sortingType == "awards" && item.projects.length' )
				.alt-project-awarded-label.project-detail-label
					| {{ item.projects.length > 1 ? "Projects Awarded":"Project Awarded" }}:
				.alt-project-awarded-project(
					ng-repeat='project in item.projects'
					ui-sref='root.section-state.project-state({ section: "architecture",  projectId: project.id })'
				)
					| {{ project.title }}