//- Project Modal
.project-modal.scrollable( ui-view='project-content' )

.sub-sort-wrapper( ng-if='stateParams.sortingType && ( "bibliography, books".indexOf( stateParams.q ) != -1 ||  stateParams.sortingType=="type" ) && indexContents.length' )
	.sub-sort(
		ng-click='switchSubSort( "title" )'
		ng-class='subSort === "title"?"active-sort":""'
	)
		| A-Z
	.sub-sort(
		ng-click='switchSubSort( "date" )'
		ng-class='{ "active-sort": "year, superdate, pub_date".indexOf( subSort ) != -1 }'
	)
		| Date

.index-project-wrapper( ng-if='!altIndexSection && stateParams.sortingType !== "location"' )
	throbber-directive

	//- Items with 'section' attribute (projects)
	.index-project(
		ng-repeat='item in indexContents | filter: { section: { title: stateParams.section} } | sortingType: stateParams.sortingType:stateParams.q | orderBy: subSort: reverseVar'
		ng-if='item.section && item[ subSort ]'
		ui-sref='root.section-state.project-state( { projectId: item.id } )'
	)
		.project-image( preload-bg-image='{{ item.image.name.mobile.url }}' )

		.project-title( ng-bind-html='item.title || item.name | htmlParse' )

	//- Items without 'section' attribute (people)
	.index-project(
		ng-repeat='item in indexContents | sortingType: stateParams.sortingType:stateParams.q | orderBy: subSort: reverseVar'
		ng-if='!item.section'
		ui-sref='root.section-state.project-state( { projectId: item.id, m: "person" } )'

	)
		.project-image( preload-bg-image='{{ item.image.name.mobile.url }}' )

		.project-title( ng-bind-html='item.title || item.name | htmlParse' )

//- Alternate index
.alt-index-project-wrapper(
	ng-if='altIndexSection && ( stateParams.sortingType || stateParams.section == "news" || stateParams.section == "search" )'
)
	throbber-directive

	//- Media section
	.alt-index-project(
		ng-repeat='item in indexContents'
		id='{{ item.id }}'
		ng-if='stateParams.sortingType === "media"'
		ng-click='item.searchable_type ? resolveClick( item ) : expandProject( item.id )'
		ng-class='{ "clickable-alt": ( stateParams.section === "search" ) || item.types.indexOf( "Books" ) != -1 }'
	)

		//- Project title and image
		.alt-project-title-and-image( ng-class='{ "expanded": stateParams.e && stateParams.e == item.id }' )

			//- Image
			img.alt-project-image(
				preload-image
				ng-if='item.image.name.mobile.url || item.image'
				ng-src='{{ item.image.name.mobile.url || item.image }}'
			)

			//- Title + expanded sections
			.alt-title-and-expanded-wrapper( ng-class='{ "with-image": item.image.name.mobile.url || item.image }' )

				//- Publication date
				.project-detail-label( ng-if='item.types.indexOf("Books") != -1' )
					| {{ item.pub_date | date : 'mediumDate' }}

				//- NOT search section (different ui-sref behavior)
				.alt-project-title(
					ng-bind-html='item.title || item.name | htmlParse'
					ng-if='stateParams.section !== "search"'
				)

				//- Overview
				.alt-project-expanded( ng-if='item.types.indexOf("Books") == -1'  ng-bind-html='item.overview | htmlParse' )

				//- Bibliography citations + PDF
				.alt-project-expanded( ng-if='item.types && item.types.indexOf( "Bibliography" ) != -1' )
					| {{ item.author }}
					| {{ item.publication ? item.publication + '.' : '' }}
					| {{ item.publisher }}
					| {{ item.pub_date ? '(' + item.pub_date + ').' : '' }}
					| {{ item.pages ? item.pages + '.' : '' }}
					.pdf-attachment(
						ng-repeat='document in item.documents'
						ng-if='item.documents.length != 0'
					)
						a(
							href='{{ document.name.url }}'
							target='new'
						)
							| PDF

				//- Description attribute
				.alt-project-expanded.alt-index-description(
					ng-if='item.types.indexOf( "Books" ) == 1 && item.description.length > 0'
					ng-bind-html='item.description | htmlParse'
				)

				//- Bibliography projects cited
				.alt-project-metadata( ng-if='stateParams.q !== "awards"')
					.alt-project-awarded( ng-if='item.types.indexOf( "Bibliography" > 1 ) && item.projects.length' )
						.alt-project-awarded-label.project-detail-label
							| {{ item.projects.length > 1 ? "Projects":"Project" }} Cited:
						.alt-project-awarded-project(
							ng-repeat='project in item.projects'
							ui-sref='root.section-state.project-state({ section: "architecture",  projectId: project.id })'
						)
							| {{ project.title }}
				//- Awards metadata
				.alt-project-metadata( ng-if='stateParams.q == "awards"')
					.alt-project-awarded( ng-if='stateParams.sortingType == "media" && item.projects.length && stateParams.q == "awards"' )
						.alt-project-awarded-label.project-detail-label
							| {{ item.projects.length > 1 ? "Projects Awarded":"Project Awarded" }}:
						.alt-project-awarded-project(
							ng-repeat='project in item.projects'
							ui-sref='root.section-state.project-state({ section: "architecture",  projectId: project.id })'
						)
							| {{ project.title }}


	//- NOT media section
	.alt-index-project(
		ng-repeat='item in indexContents | sortingType: stateParams.sortingType:stateParams.q | orderBy: subSort : reverseVar'
		id='{{ item.id }}'
		ng-if='stateParams.sortingType !== "media"'
		ng-click='item.searchable_type ? resolveClick( item ) : ""'
		ng-class='{ "clickable-alt": stateParams.section === "search" } '
	)

		//- Project title and image
		.alt-project-title-and-image( ng-class='{ "expanded": stateParams.e && stateParams.e == item.id }' )

			//- Image
			img.alt-project-image(
				preload-image
				ng-if='item.image.name.mobile.url || item.image'
				ng-src='{{ item.image.name.mobile.url || item.image }}'
			)

			//- Title + expanded sections
			.alt-title-and-expanded-wrapper( ng-class='{ "with-image": item.image.name.mobile.url || item.image }' )

				//- NOT search section (different ui-sref behavior)

				//- News and award item date
				.project-detail-label( ng-if='stateParams.section === "news" || stateParams.sortingType === "awards"' )
					| {{ item.created_at | date : fullDate }}

				//- Awards year
				.project-detail-label( ng-if='stateParams.sortingType === "awards"' )
					| {{ item.year }}

				.alt-project-title(
					ng-bind-html='item.title || item.name | htmlParse'
					ng-if='stateParams.section !== "search"'
				)

				//- Search section context labels
				.project-detail-label( ng-if='stateParams.section === "search"' )
					| {{ item.section }} {{ item.sorting_type ? ' / ' + item.sorting_type : ''}}
				.alt-project-title(
					ng-bind-html='item.title || item.name | htmlParse'
					ng-if='stateParams.section === "search"'
				)

				//- Overview attribute
				.alt-project-expanded( ng-if='item.types.indexOf("Books") == -1 || ( stateParams.section === "news" )'  ng-bind-html='item.overview | htmlParse')

				//- Bibliography citations + PDF
				.alt-project-expanded( ng-if='item.types && item.types.indexOf( "Bibliography" ) != -1' )
					| {{ item.author }}
					| {{ item.publication ? item.publication + '.' : '' }}
					| {{ item.publisher }}
					| {{ item.pub_date ? '(' + item.pub_date + ').' : '' }}
					| {{ item.pages ? item.pages + '.' : '' }}
					.pdf-attachment(
						ng-repeat='document in item.documents'
						ng-if='item.documents.length != 0'
					)
						a(
							href='{{ document.name.url }}'
							target='new'
						)
							| PDF

				//- Description attribute
				.alt-project-expanded.alt-index-description(
					ng-if='item.types.indexOf("Books") == -1 && item.description.length > 0 && stateParams.section != "search" || ( stateParams.section === "news" )'
					ng-bind-html='item.description | htmlParse'
				)

.location-index-wrapper( ng-if='stateParams.sortingType === "location"' )
	leaflet(
		lf-center='center'
		markers='markers'
		maxBounds='maxBounds' 
		defaults='defaults'
		layers='layers'
	)

.prev-and-next-wrapper(
	ng-if='(stateParams.sortingType === "media") && indexContents.length'
)
	.previous( ng-show='isPrev' ng-click='getPage( "prev" )' )
		| Previous page
	.pagination
		.page-number(
			ng-repeat='pageNum in pageArray'
			ui-sref='root.section-state.sorting-state({ p: pageNum })'
			ng-class='{ "current-page": stateParams.p == pageNum || ( !stateParams.p && pageNum === 0 ) }'
		)
			{{ pageNum + 1 }}
	.next( ng-show='isNext' ng-click='getPage( "next" )' )
		| Next page
