.slideshow-directive-slides-wrapper

	.slideshow-directive-slide(ng-repeat='slide in slides')

		video.slideshow-video(
			ng-if='!mobile && ( slide.mp4 || slide.webm )'
			ng-class='{ "current-slide": currentSlide === slide }'
			autoplay
		)
			source( ng-src='{{ slide.mp4.name.url }}' )
			source( ng-src='{{ slide.webm.name.url }}' )

		.mobile-video( ng-if='mobile && state.current.name === "root"' preload-bg-image='{{ slide.gif.name.url }}')

		.slideshow-image(
			ng-show='!slide.mp4 && !slide.webm'
			preload-bg-image='{{ thumb ? slide.image.name.mobile.url : slide.image.name.url }}'
			ng-class='{ "current-slide": currentSlide === slide }'
		)


	p.slide-project-title(
		ng-if='currentSlide.project_title || currentSlide.title'
		ui-sref='root.section-state.project-state({ section: stateParams.section, sortingType: "a-z", projectId: currentSlide.project_id || currentSlide.id })'
		ng-bind-html='currentSlide.project_title || currentSlide.title | htmlParse'
	)

	.slideshow-directive-buttons-wrapper
		.slideshow-directive-button(
			ng-repeat='slide in slides'
			ng-click='setCurrentSlide( slide )'
			ng-if='( state.current.name !== "root" ) && ( currentSlide.project_title || currentSlide.title )'
			ng-class='{ "current-slide": currentSlide === slide }'
		)