.slideshow-directive-slides-wrapper( mbl-directive )

	.slideshow-directive-slide(ng-repeat='slide in slides')

		video.slideshow-video(
			ng-if='!mobile && ( slide.mp4 || slide.webm )'
			ng-class='{ "current-slide": currentSlide === slide }'
			preload='none'
			data-video-id='{{ $index }}'
		)
			source(
				src='{{ slide.mp4.name.url }}'
				type='video/mp4'
			)
			source(
				src='{{ slide.webm.name.url }}'
				type='video/webm'
			)
			poster( src='{{ slide.image.name.url }}')

		.mobile-video(
			ng-if='mobile && vid'
			data-src='{{ slide.gif.name.url }}'
			ng-class='{ "current-slide": currentSlide === slide }'
			frame-rate='6000'
			data-mbl
		)

		.slideshow-image(
			ng-show='!slide.mp4 && !slide.webm'
			ng-if='!vid'
			data-src='{{ thumb ? slide.image.name.mobile.url : slide.image.name.url }}'
			ng-class='{ "current-slide": currentSlide === slide }'
			data-mbl
		)

	//- Project title
	p.slide-project-title(
		ng-if='(currentSlide.project_title || currentSlide.title) && !news'
		ui-sref='root.section-state.project-state({ section: stateParams.section, sortingType: "a-z", projectId: currentSlide.project_id || currentSlide.id })'
		ng-bind-html='currentSlide.project_title || currentSlide.title | htmlParse'
	)

	////- News title
	p.slide-project-title(
		ng-if='( currentSlide.project_title || currentSlide.title ) && news'
		ui-sref='root.section-state({ section: "news" })'
		ng-bind-html='currentSlide.project_title || currentSlide.title | htmlParse'
	)

	.slideshow-directive-buttons-wrapper
		.slideshow-directive-button(
			ng-repeat='slide in slides'
			ng-click='setCurrentSlide( slide )'
			ng-if='( state.current.name !== "root" ) && ( currentSlide.project_title || currentSlide.title )'
			ng-class='{ "current-slide": currentSlide === slide }'
		)
