.slideshow-directive-slides-wrapper

	.slideshow-directive-slide(
		ng-repeat='slide in slides'
	)

		video.slideshow-video(
			ng-if='slide.mp4 || slide.webm'
			autoplay
			ng-class='{ "current-slide": currentSlide === slide }'
		)
			source( ng-src='{{ slide.mp4.name.url }}' )
			source( ng-src='{{ slide.webm.name.url }}' )

		.slideshow-image(
			ng-if='!slide.mp4 && !slide.webm'
			style='background:url("{{ slide.image.name.url }}") no-repeat center center fixed; background-size: cover;'
			ng-class='{ "current-slide": currentSlide === slide }'
		)


		p.slide-project-title(
			ng-if='currentSlide.project_title'
			ng-class='{ "current-slide": currentSlide === slide }'
			ui-sref='root.section-state.project-state({ section: stateParams.section, sortingType: "a-z", projectId: getCurrentSlide().project_id })'
		)
			| {{ currentSlide.project_title }}

	.slideshow-directive-buttons-wrapper
		.slideshow-directive-button(
			ng-repeat='slide in slides'
			ng-click='setCurrentSlide( slide )'
		)
			| +