.slideshow-directive-slides-wrapper

	.slideshow-directive-slide

		video.slideshow-video(
			ng-if='currentSlide.mp4 || currentSlide.webm'
			autoplay
		)
			source( ng-src='{{ currentSlide.mp4.name.url }}' )
			source( ng-src='{{ currentSlide.webm.name.url }}' )

		.slideshow-image(
			ng-if='!currentSlide.mp4 && !currentSlide.webm'
			style='background:url("{{ currentSlide.image.name.url }}") no-repeat center center fixed; background-size: cover;'
		)


	p.slide-project-title(
		ng-if='currentSlide.project_title || currentSlide.title'
		ui-sref='root.section-state.project-state({ section: stateParams.section, sortingType: "a-z", projectId: getCurrentSlide().project_id })'
		ng-bind-html='currentSlide.project_title || currentSlide.title | htmlParse'
	)

	.slideshow-directive-buttons-wrapper
		.slideshow-directive-button(
			ng-repeat='slide in slides'
			ng-click='setCurrentSlide( slide )'
			ng-if='slide.project_title || slide.title'
		)
			| +