.slideshow-directive-slides-wrapper

	.slideshow-directive-slide(ng-repeat='slide in slides')

		video.slideshow-video(
			ng-if='slide.mp4 || slide.webm'
			ng-class='{"current-slide": currentSlide === slide}'
			autoplay
		)
			source( ng-src='{{ slide.mp4.name.url }}' )
			source( ng-src='{{ slide.webm.name.url }}' )

		.slideshow-image(
			ng-show='!slide.mp4 && !slide.webm'
			preload-bg-image='{{ thumb ? slide.image.name.thumb.url : slide.image.name.url }}'
			ng-class='{"current-slide": currentSlide === slide}'
		)


	p.slide-project-title(
		ng-if='currentSlide.project_title || currentSlide.title'
		ui-sref='root.section-state.project-state({ section: stateParams.section, sortingType: "a-z", projectId: getCurrentSlide().project_id })'
		ng-bind-html='currentSlide.project_title || currentSlide.title | htmlParse'
	)

	.slideshow-directive-buttons-wrapper
		.slideshow-directive-button(
			ng-repeat='slide in slides'
			ng-click='setCurrentSlide( slide )'
			ng-if='slide.project_title || slide.title'
			ng-class='{ "current-slide": currentSlide === slide }'
		)