.project-close-button.scrollable-header(
	ng-click='closeProject(  )'
)

.project-page-wrapper.scrollable-content


	.project-page-header-image( 
    ng-show="activeItem.primary_image.name.url"
		style='background-image:url("{{ activeItem.primary_image.name.url }}")'
	)

	.project-page-content-wrapper

		.project-page-header-text( ng-bind-html='activeItem.title || activeItem.name | htmlParse' )
		
		//- PROJECT PAGE
		.project-page-text-wrapper( ng-if='( stateParams.section === "search" && stateParams.m == "project" ) || ["architecture", "research", "tangents", "research", "urban"].indexOf(stateParams.section) != -1 || ( stateParams.section === "about" && stateParams.m === "project" )' )

			.project-page-sidebar( ng-toggle-class='contracted open' )

				//- Details
				.project-page-sidebar-section.mobile-details
					.project-page-sidebar-header
						| Details
					.project-detail-wrapper( ng-if='activeItem.city || activeItem.country' )
						.project-detail-label
							| Location: 
						.project-detail-text
							| {{ activeItem.city + ', '}} {{ activeItem.country }}
					.project-detail-wrapper( ng-if='activeItem.client' )
						.project-detail-label
							| Client:
						.project-detail-text
							| {{ activeItem.client }}
					.project-detail-wrapper( ng-if='activeItem.site_area' )
						.project-detail-label
							| Site Area: 
						.project-detail-text
							| {{ activeItem.site_area }} acres / {{ activeItem.site_area * 0.404686 | number:2 }} hectares
					.project-detail-wrapper( ng-if='activeItem.size' )
						.project-detail-label
							| Size:
						.project-detail-text
							| {{ activeItem.size | number }}  ft² / {{ activeItem.size * 0.09290304 | number : 0 }} m²
					.project-detail-wrapper( ng-if='activeItem.program' )
						.project-detail-label
							| Program:
						.project-detail-text
							| {{ activeItem.program }}
					.project-detail-wrapper( ng-if='activeItem.design_sdate && activeItem.design_edate' )
						.project-detail-label
							| Design:
						.project-detail-text
							| {{ activeItem.design_sdate | date: "yyyy" }} - {{ activeItem.design_edate | date: "yyyy" }}
					.project-detail-wrapper( ng-if='activeItem.constr_sdate || activeItem.constr_edate' )
						.project-detail-label
							| Construction:
						.project-detail-text
							| {{ activeItem.constr_sdate | date: "yyyy" }} - {{ activeItem.constr_edate | date: "yyyy" }}
					.project-detail-wrapper( ng-if='activeItem.types.length' )
						.project-detail-label
							| {{ activeItem.types.length > 1 ? "Types":"Type" }}:
						.project-detail-text( ng-repeat='type in activeItem.types' )
							| {{ type }}
				
				//- Project Credits
				.project-page-sidebar-section.contracted(
					ng-toggle-class='contracted open'
					ng-if='activeItem.people.length'
				)
					.project-page-sidebar-header
						| Project Credits
					
					.show-morph-team.details-clickable.contracted(
						ng-click='showMorphTeam = !showMorphTeam'
						ng-class='{ "contracted": !showMorphTeam }'
					)
						| Morphosis Team
					.project-detail-wrapper(
						ng-repeat='(key, value) in activeItem.people | filter: { is_morphosis: true } | groupBy: "role_title"'
						ng-show='showMorphTeam'
					)
						.project-detail-label
							| {{ key }}
						.project-detail-text.details-clickable(
							ng-repeat='role in value'
							ui-sref='root.section-state.project-state({ section: "about", projectId: role.person.id, m: "person" })'
							ng-bind-html='role.person.name | htmlParse'
						)
					.project-detail-wrapper(
						ng-repeat='( key, value ) in activeItem.people | filter: { is_morphosis: false } | groupBy: "role_title"'
					)
						.project-detail-label
							| {{ key }}
						.project-detail-text.details-clickable(
							ng-repeat='role in value'
							ui-sref='root.section-state.project-state({ section: "about", projectId: role.person.id, m: "person" })'
							ng-bind-html='role.person.name | htmlParse'
						)

				//- Design recognition
				.project-page-sidebar-section.contracted(
					ng-toggle-class='contracted open'
					ng-if='activeItem.awards.length'
				)
					.project-page-sidebar-header
						| Design Recognition

					.project-detail-wrapper( ng-repeat='(key, value) in activeItem.awards | groupBy: "year"' )
						.project-detail-label
							| {{ key }}
						.project-detail-text.project-page-award( ng-repeat='award in value' )
							| {{ award.title }}

				//- Bibliography
				.project-page-sidebar-section.contracted( ng-toggle-class='contracted open' )

					.project-page-sidebar-header(
						ng-if='activeItem.bibliography_items.length'
					)
						| Bibliography
					.project-detail-wrapper.bibliography-item.details-clickable(
						ng-repeat='item in activeItem.bibliography_items'
						ui-sref='root.section-state.sorting-state({ section: "about", sortingType: "media", q: "bibliography", e: item.uid, m: null, s: null })'
					)
						.bibliography-image(
							ng-if='item.primary_image'
							preload-bg-image='{{ item.primary_image.name.thumb.url }}'
						)
						| {{ item.author ? item.author : '' }}
						| {{ item.publication ? item.publication + '.' : '' }}
						| {{ item.publisher ? item.publisher : '' }}
						| {{ item.pub_date ? '(' + item.pub_date + ').' : '' }}
						| {{ item.pages ? item.pages + '.' : '' }}

			.project-page-main-text

				.project-overview(
					ng-if='activeItem.overview'
					ng-bind-html='activeItem.overview | htmlParse'
				)
					| {{ activeItem.overview }}

				.project-description-wrapper.contracted( ng-toggle-class='contracted open' )
					.project-description-header( ng-if='activeItem.description' )
						| Description
					.project-description-body( ng-bind-html='activeItem.description | htmlParse' )

				.image-gallery-wrapper.ng-baguette
					.image-gallery-section-wrapper.open(
						ng-repeat='(key, value) in activeItem.galleries'
						ng-mouseenter='startScroll( $event )'
						ng-mousemove='updateScroll( $event )'
						ng-mouseleave='stopScroll(  )'
						ng-toggle-class='contracted open'
					)
						h1
							| {{ key }}

						.image-gallery-section.gallery(
							ng-click='$event.stopPropagation(  );'
						)
							a(
								ng-repeat='image in value'
								href='{{ image.name.url }}'
							)
								img(
									ng-src='{{ image.name.thumb.url }}'
								)
				//- Components
				.project-description-wrapper.component.contracted( ng-repeat='component in activeItem.components | orderBy: "rank"' )
					.project-description-header
						| {{ component.title }}
					.project-description-body( ng-bind-html='component.content | htmlParse' )

		//- PEOPLE PAGE
		.project-page-text-wrapper( ng-if='stateParams.m == "person"' )

			.project-page-sidebar
				.project-page-sidebar-header( ng-if='activeItem.educations.length' )
					| Education
				.project-detail-wrapper( ng-repeat='education in activeItem.educations' )
					{{ education.title }}

				.project-page-sidebar-header( ng-if='activeItem.email' )
					| Contact
				.project-detail-wrapper
					a( href='mailto:{{ activeItem.email }}' )
						| {{ activeItem.email }}
				

			.project-page-main-text
				.project-overview(
					ng-if='activeItem.location'
					ng-bind-html='activeItem.location | htmlParse'
				)

				.project-description-wrapper
					.project-description-header( ng-if='activeItem.description' )
						| Description
					.project-description-body( ng-bind-html='activeItem.description | htmlParse' )

				.project-description-header(ng-if='activeItem.roles.length > 0')
					| Related Projects

				.project-detail-wrapper( ng-repeat='(key, value) in activeItem.roles | groupBy: "title"' )
					.project-detail-label
						| {{ key + ': '}}
					.project-detail-text.details-clickable( ng-repeat='role in value' ui-sref='root.section-state.project-state({ section: "architecture", projectId: role.project.id, m: "project", s: null, e: null })')
						| {{ role.project.title }}
